/* Reduces padding and font size of block quotes */
blockquote {
    font-size: 100%;
    padding: 5px 10px 5px 10px;
}

/* Limits textarea resizing */
textarea {
    resize: vertical !important;
}

/* Removes all text decoration */
.plain {
    text-decoration: none !important;
}

/* Hides an element by default */
.hide-init {
    display: none;
}

/* Removes rounded corners from navigation bar */
.navbar {
    border-radius: 0;
}

/* Fixes navbar spacing on mobile */
.navbar-top {
    margin-bottom: 0px;
}

.navbar-bottom {
    margin-top: 0px;
}

/* Removes border from navigation bar toggle */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Special padding for posts and comments */
.item-btn {
    padding-left: 10px;
}

.item-vote {
    padding-left: 10px;
}

.item-title {
    padding-left: 10px;
    padding-right: 10px;
}

.item-content {
    padding: 10px;
}

/* Special padding for sign up and log in forms */
.form-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.form-width {
    max-width: 500px;
}

/* Fixes alert message widths */
.alert-width {
    padding-left: 15px;
    padding-right: 15px;
}

/* Additional changes */
.navbar-brand {
    font-family: serif;
    font-size: 175%;
    font-weight: 500;
}

.pager {
    height: 32px;
}

.pagination li:not(:first-child) {
    margin-left: 5px;
}

.post {
    width: 100%;
}

.post col:nth-child(0) {
    width: 10px;
}

.post col:nth-child(1) {
    width: 25px;
}

.social {
    height: 45px;
}

.toggle-report-btn {
    margin-left: 5px;
}
